<!DOCTYPE html>
<html lang="en">
<head>
    <title>John Garzon</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
 {{> head}} 

 <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
</head>
<body>
{{!-- if_1-02_2270783.png --}}

<div class="clr">
    <header>
        <div class="container">
            <div class="clrheader">
                
                <div class="clrlogo">
                    <div class="inner">
                        <a href="/">
                            <img src="/images/logos/burganikos logo colour-01.png" >
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </header>
</div>

<div class="main">
    <article>

        <section class="head">
            <div id="headermedia" class="container-fluid">
                <div class="headerimage">

                </div>
            </div>
        </section>

        

    </article>
</div>




</body>

<script type="text/javascript">
$( document ).ready(function() {
    console.log("We are now operational");
});
</script>

</html>