a {
    color: #FFF;
}
a:hover {
    text-decoration: none;
    color: #c9c9c9;
    cursor: pointer;
}


/* .box {
    min-height: 100px;
    margin-top: 40px;
    background: #f7f7f9;
    padding: 20px;

    /* background-image: url("/images/IMG_0820.JPG");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 80px 60px; */
/*} 
*/

/* .heading {
    font-size: 44px;
    font-family: 'Libre Baskerville', serif;
}

.header1 {
    border-bottom: 1px solid #eee;
}

.header1 > span {
    float: left;
    display: block;
    position: relative;
    padding: 10px 15px;
}
 .header1:before {
    display: table;
    content: " ";
} 

.header1 span[role="icons"] {
    top:10px;
    padding-left: 0;
    padding-right: 0;
}
.header1 span[role="icons"]:nth-child(2) {
    margin-left: 30px;
}

.list-group.m > .list-group-item {
    border:0;
    background-color: #f7f7f9;
    border-radius: 4px;
}
.list-group.m > .list-group-item:hover {
    background-color: #e8e8e8;
} */

.clr {
    position: relative;
}

header {
    position: fixed;
    top: 0;
    background-color: transparent;
    height: auto;
    z-index: 9999;

    /* border-bottom: 1px solid #f1f1f1; */
    width: 100%;
    /* background-color: rgba(255,255,255,0.3); */
    padding: 20px 0;

    -webkit-transition: all 0.4s ease-out; /* Safari */
    transition: all 0.4s ease-out;
}
header.on {
    background-color: #000000;
    padding: 5px 0;
}

header[id=masthead] .row {
    display: flex;
    align-items: center;
}

.sitelogo img {
    max-width: 120px;
    height: auto;
}

/* -------------------------P---------------------------------- */
/*
.clrheader {
    position: relative;
}
.clrheader > div {
    float: left;
    height: 100%;
    display: table;
}
.clrheader .inner {
    display: table-cell;
    vertical-align: middle;
}

.clrlogo img {
    max-width: 120px;
    height: auto;
}

*/
/* -------------------------P---------------------------------- */

/* menu */

.imenuparent { 
    float: right !important;
    color: #fff; 
}

.imenu {
    list-style: none;
    padding: 0;
    margin: 0;
}
.imenu > li {
    float: left;
    display: block;
    position: relative;
    margin: 0;
    padding: 10px;
    /* border-bottom: 1px solid transparent; */
    transition: background-color 0.2s linear;
}
.imenu > li:hover {
    background-color: rgba(0,0,0, .3);
}

.imenu > li a {
    transition: all 0.2s linear;
    padding: 5px;
}
.imenu > li a:hover {
    color: #c9c9c9;
}

/* end of menu */

/* end of master header --------------------------------> */

.main {
    position: relative;
}

article {
    display: block;
}

section {
    position: relative;
}


/* header media */

#headermedia {
    padding: 0;
}

.headerimage {
    background-image: url("/images/logos/falltreats.jpg");
    /* height: 500px;  */
    /* opacity: 0.8; */
    min-height: 74vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.3;
    background-color: #000000;
}

.header-inner {
    display: none;
}

@media only screen and (max-width: 1024px) {
    .headerimage {
        background-image: none;
        height: auto !important;
        min-height: unset;
    }

    .header-inner {
        display: block;
        width: 100%;
    }

    .overlay {
        height: auto;
    }

}

/* end of header media ---------------------------------------> */